
<h1>Send To Emails</h1>

|<form action="" method="POST">
    <input type="email" name="email1" placeholder="Email - 1" required><br><br>
    <input type="email" name="email2" placeholder="Email - 2" required><br><br>
    <input type="submit" value="Send">
</form>